# Data Preparation

In [1]:
pip install pyvis

Requirement already satisfied: pyvis in c:\users\pc\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: ipython>=5.3.0 in c:\users\pc\anaconda3\lib\site-packages (from pyvis) (8.10.0)
Requirement already satisfied: networkx>=1.11 in c:\users\pc\anaconda3\lib\site-packages (from pyvis) (2.8.4)
Requirement already satisfied: jinja2>=2.9.6 in c:\users\pc\anaconda3\lib\site-packages (from pyvis) (3.1.2)
Requirement already satisfied: jsonpickle>=1.4.1 in c:\users\pc\anaconda3\lib\site-packages (from pyvis) (3.0.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (2.11.2)
Requirement already satisfied: stack-data in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (3.0.36)
Requirement already satisfied: matplotlib-inline in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.1.6)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.4.6)
Requirement already satisfied: pickleshare in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.7.1)
Requirement already satisfied: decorator in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.18.1)
Requirement already satisfied: backcall in c:\users\pc\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\pc\anaconda3\lib\site-packages (from jinja2>=2.9.6->pyvis) (2.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\pc\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\pc\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.30->ipython>=5.3.0->pyvis) (0.2.5)
Requirement already satisfied: executing in c:\users\pc\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\pc\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.2.2)
Requirement already satisfied: asttokens in c:\users\pc\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->pyvis) (2.0.5)
Requirement already satisfied: six in c:\users\pc\anaconda3\lib\site-packages (from asttokens->stack-data->ipython>=5.3.0->pyvis) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import networkx as nx
from pyvis import network as net
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
location="ML.csv"
data=pd.read_csv(location)
data.head(5)

,typeofaction,sourceid,destinationid,amountofmoney,date,isfraud,typeoffraud
0,cash-in,30105,28942,494528,2019-07-19 14:40:00,1,type1
1,cash-in,30105,8692,494528,2019-05-17 14:57:00,1,type1
2,cash-in,30105,60094,494528,2019-07-20 13:20:00,1,type1
3,cash-in,30105,20575,494528,2019-07-03 14:15:00,1,type1
4,cash-in,30105,45938,494528,2019-05-26 10:40:00,1,type1

In [4]:
location="ML.csv"
data=pd.read_csv(location)

rel=list(zip(data.sourceid,data.destinationid,data.amountofmoney))

pp=pd.DataFrame(data=rel , columns=['source','target','weight'])
pp.to_csv('data_new.csv',index=False)

In [5]:
data_new=pd.read_csv('data_new.csv')
data_new.head(5)

   source  target  weight
0   30105   28942  494528
1   30105    8692  494528
2   30105   60094  494528
3   30105   20575  494528
4   30105   45938  494528

untuk mengetahui banyak transaksi yang dilakukan (nggak guna karena datanya emang cuma transaksi sekali)

In [6]:
df = pp.groupby(['source', 'target'],as_index=False).agg({'weight':['count','sum']})
df.columns = ['source','target','transaction','weight']
df.to_csv('dcashinwithamount.csv',index=False)
df['value'] = df ['weight']
df['title'] = df.apply(lambda df: f'from: {df.source}\nto: {df.target}\ntransaction: {df.transaction:,.0f}\namount: {df.weight:,.0f}', axis=1)

df

,source,target,transaction,weight,value,title
0,61,68275,1,631490,631490,from: 61\nto: 68275\ntransaction: 1\namount: 6...
1,185,6477,1,518689,518689,from: 185\nto: 6477\ntransaction: 1\namount: 5...
2,195,35270,1,335249,335249,from: 195\nto: 35270\ntransaction: 1\namount: ...
3,226,42168,1,226479,226479,from: 226\nto: 42168\ntransaction: 1\namount: ...
4,239,86839,1,478195,478195,from: 239\nto: 86839\ntransaction: 1\namount: ...
...,...,...,...,...,...,...
2335,99775,45704,1,2873466,2873466,from: 99775\nto: 45704\ntransaction: 1\namount...
2336,99897,90762,1,6763814,6763814,from: 99897\nto: 90762\ntransaction: 1\namount...
2337,99934,55222,1,3855137,3855137,from: 99934\nto: 55222\ntransaction: 1\namount...
2338,99938,85146,1,68412,68412,from: 99938\nto: 85146\ntransaction: 1\namount...
2339,100000,86903,1,215499,215499,from: 100000\nto: 86903\ntransaction: 1\namoun...

In [7]:
# datatransfer1 = pp2.groupby(['source', 'target'],as_index=False).agg({'weight':['count','sum']})
# datatransfer1.columns = ['source','target','transaction','weight']
# datatransfer1.to_csv('dtransferwithamount.csv',index=False)
# datatransfer1['value'] = datatransfer1['weight']
# datatransfer1['title'] = datatransfer1.apply(lambda df: f'from: {df.source}\nto: {df.target}\ntransaction: {df.transaction:,.0f}\namount: {df.weight:,.0f}', axis=1)


# datatransfer1

In [8]:
G = nx.from_pandas_edgelist(df, source='source', target='target', edge_attr=['title','value'])

In [9]:
list(G.edges(data=True))[0:2]

[(61,
  68275,
  {'title': 'from: 61\nto: 68275\ntransaction: 1\namount: 631,490',
   'value': 631490}),
 (61,
  20779,
  {'title': 'from: 20779\nto: 61\ntransaction: 1\namount: 4,697,163',
   'value': 4697163})]

In [10]:
# H = nx.from_pandas_edgelist(datatransfer1, source='source', target='target', edge_attr=['title','value'])

In [11]:
# list(H.edges(data=True))[0:2]

In [12]:
# Pyvis
nt = net.Network(width='100%', height='100%', directed=False, notebook=True)
nt.toggle_physics(False)
nt.from_nx(G)
nt.show('pyvis.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
pyvis.html

In [13]:
# # Pyvis Transfer
# nt = net.Network(width='100%', height='100%', directed=False, notebook=True)
# nt.toggle_physics(False)
# nt.from_nx(H)
# nt.show('pyvis_transfer.html')

# Mengidentifikasi komponen yang terkoneksi secara khusus

In [14]:
list(nx.connected_components(G))[0:5]

[{61,
  2349,
  4017,
  8566,
  10202,
  12781,
  20779,
  20896,
  26296,
  26740,
  31610,
  32548,
  33174,
  39185,
  47047,
  48265,
  51626,
  54367,
  54988,
  55468,
  58107,
  59772,
  65175,
  67570,
  68275,
  69285,
  70734,
  81173,
  88062,
  91404,
  95867,
  98698},
 {185,
  728,
  887,
  1020,
  3092,
  3164,
  3226,
  3361,
  4845,
  5490,
  5795,
  5953,
  6281,
  6477,
  7181,
  7480,
  8400,
  8654,
  8692,
  9277,
  9363,
  9532,
  9614,
  10908,
  12860,
  13407,
  13800,
  14030,
  14080,
  14613,
  14656,
  14945,
  15100,
  15746,
  15988,
  17240,
  17345,
  19626,
  19682,
  19833,
  20261,
  20451,
  20575,
  20814,
  21392,
  22427,
  23309,
  23636,
  23762,
  23784,
  24259,
  24266,
  24405,
  24981,
  25307,
  26390,
  26416,
  26448,
  26579,
  26783,
  27332,
  27986,
  28942,
  29043,
  29754,
  30105,
  30714,
  30965,
  31269,
  31783,
  32042,
  32685,
  32822,
  33427,
  33443,
  33789,
  33823,
  33994,
  34767,
  35086,
  36839,
  37108,
  37177,
  37235,
  38007,
  38993,
  39631,
  40167,
  41485,
  41634,
  42203,
  43725,
  43793,
  45553,
  45785,
  45938,
  46066,
  46307,
  46627,
  47205,
  48011,
  48135,
  49391,
  49600,
  51446,
  52096,
  52681,
  52890,
  53113,
  53540,
  53589,
  54971,
  55340,
  56410,
  57075,
  57149,
  57772,
  57913,
  58026,
  58428,
  58669,
  58869,
  58899,
  59891,
  60094,
  61008,
  61286,
  61346,
  61733,
  62257,
  62348,
  63029,
  63112,
  63228,
  63679,
  64316,
  64550,
  64716,
  64845,
  67648,
  68229,
  68699,
  69355,
  70964,
  72164,
  72317,
  73371,
  74177,
  74470,
  75468,
  76031,
  77238,
  77370,
  77458,
  78041,
  78832,
  79920,
  80113,
  80135,
  80337,
  80408,
  80750,
  82016,
  82508,
  83790,
  84051,
  85462,
  86756,
  87134,
  88290,
  88400,
  88488,
  88916,
  89714,
  89730,
  90607,
  91533,
  92057,
  92983,
  93055,
  93262,
  93608,
  94130,
  94472,
  94900,
  95733,
  96016,
  98174,
  98596,
  98751,
  99179,
  99632,
  99754},
 {195,
  10607,
  10681,
  15486,
  25847,
  26144,
  27119,
  33645,
  35270,
  35866,
  38833,
  41461,
  45257,
  45645,
  51984,
  55072,
  55321,
  67040,
  67565,
  68821,
  74350,
  75203,
  80604,
  80621,
  91877},
 {226,
  4474,
  5128,
  5185,
  6953,
  9232,
  10195,
  12431,
  14309,
  14355,
  18247,
  26096,
  32144,
  33510,
  42168,
  47522,
  49635,
  52112,
  53121,
  59800,
  67834,
  70669,
  70960,
  71600,
  73320,
  73501,
  76223,
  78150,
  80584,
  81516,
  84640,
  89495,
  93815},
 {239,
  9373,
  17130,
  23506,
  26220,
  28248,
  43372,
  43742,
  44499,
  46161,
  58473,
  59524,
  60455,
  65676,
  68061,
  75295,
  85972,
  86839,
  95970}]

In [15]:
# list(nx.connected_components(H))[0:5]

In [16]:
len(list(nx.connected_components(G)))

481

In [17]:
# len(list(nx.connected_components(H)))

# Assign Community to each node

In [18]:
group_dict_G = {}

for group, nodes in enumerate(sorted(list(nx.connected_components(G)), key=len, reverse=True), start=1):
    for node in nodes:
        group_dict_G[node] = group

In [19]:
groupG = pd.DataFrame({'source':group_dict_G.keys(), 'group':group_dict_G.values()}).sort_values(by=['group','source'])
groupG

      source  group
59       185      1
74       728      1
144      887      1
191     1020      1
4       3092      1
...      ...    ...
2813   99775    479
2814   55222    480
2815   99934    480
2817   85146    481
2816   99938    481

[2818 rows x 2 columns]

In [20]:
# group_dict_H = {}

# for groupA, nodes in enumerate(sorted(list(nx.connected_components(H)), key=len, reverse=True), start=1):
#     for node in nodes:
#         group_dict_H[node] = groupA

In [21]:
# groupH = pd.DataFrame({'source':group_dict_H.keys(), 'group':group_dict_H.values()}).sort_values(by=['group','source'])
# groupH

In [22]:
group_summary = groupG.groupby('group', as_index=False).agg({'source':'count'}).rename(columns={'source':'num_of_nodes'})
group_summary

     group  num_of_nodes
0        1           193
1        2           176
2        3           117
3        4           113
4        5            67
..     ...           ...
476    477             2
477    478             2
478    479             2
479    480             2
480    481             2

[481 rows x 2 columns]

In [23]:
# group_summary_transfer = groupH.groupby('group', as_index=False).agg({'source':'count'}).rename(columns={'source':'num_of_nodes'})
# group_summary_transfer

# Display ID, group, degree and neighbors in graph (hover on node)

In [24]:
nx.set_node_attributes(G, group_dict_G, 'group')

degree_dict_G = dict(G.degree)
nx.set_node_attributes(G, degree_dict_G, 'value')

neighbor_dict_G = {}
for node in list(G.nodes):
    neighbor_dict_G[node] = ','.join(str(v) for v in G.neighbors(node))

title_dict_G = {}
for node in list(G.nodes):
    title_dict_G[node] = f'id: {node}\ngroup: {group_dict_G[node]}\ndegree: {degree_dict_G[node]}\nneighbor: {neighbor_dict_G[node]}'
nx.set_node_attributes(G, title_dict_G, 'title')

In [25]:
# #Transfer

# nx.set_node_attributes(H, group_dict_H, 'group')

# degree_dict_H = dict(H.degree)
# nx.set_node_attributes(H, degree_dict_H, 'value')

# neighbor_dict_H = {}
# for node in list(H.nodes):
#     neighbor_dict_H[node] = ','.join(str(v) for v in H.neighbors(node))

# title_dict_H = {}
# for node in list(H.nodes):
#     title_dict_H[node] = f'id: {node}\ngroup: {group_dict_H[node]}\ndegree: {degree_dict_H[node]}\nneighbor: {neighbor_dict_H[node]}'
# nx.set_node_attributes(H, title_dict_H, 'title')

# Create subgraph to display selected groups only

In [26]:
target_groupsG = [1,2,3,4]
target_nodesG = [node for node, group in group_dict_G.items() if group in target_groupsG]

G_sub = G.subgraph(target_nodesG)

In [27]:
# target_groupsH = [1,2,3,4]
# target_nodesH = [node for node, group in group_dict_H.items() if group in target_groupsH]

# H_sub = H.subgraph(target_nodesH)

In [28]:
def show_graph(graph, filename):
    nt = net.Network(width='100%', height='100%', directed=True, notebook=True)
    nt.from_nx(graph)
    nt.show(filename)

In [29]:
show_graph(G_sub, 'communities_subgroup.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
communities_subgroup.html

In [30]:
# show_graph(H_sub, 'communities_transfer_subgroup.html')

In [31]:
nt = net.Network(width='100%', height='100%', directed=True, notebook=True)
nt.from_nx(G_sub)

pos = nx.kamada_kawai_layout(G_sub, scale=1000)
for node in nt.nodes:
    node['x'] = pos[node['id']][0]
    node['y'] = pos[node['id']][1]

nt.show('communities_kamada_kawai.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
communities_kamada_kawai.html

In [32]:
# nt = net.Network(width='100%', height='100%', directed=True, notebook=True)
# nt.from_nx(H_sub)

# pos = nx.kamada_kawai_layout(H_sub, scale=1000)
# for node in nt.nodes:
#     node['x'] = pos[node['id']][0]
#     node['y'] = pos[node['id']][1]

# nt.show('08_communities_kamada_kawai_transfer.html')

In [33]:
nt = net.Network(width='100%', height='100%', directed=True, notebook=True)
nt.from_nx(G_sub)

pos = nx.spring_layout(G_sub, scale=1000, seed=721, k=0.01)
for node in nt.nodes:
    node['x'] = pos[node['id']][0]
    node['y'] = pos[node['id']][1]

nt.show('09_communities_spring.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
09_communities_spring.html

In [34]:
# nt = net.Network(width='100%', height='100%', directed=True, notebook=True)
# nt.from_nx(H_sub)

# pos = nx.spring_layout(H_sub, scale=1000, seed=721, k=0.01)
# for node in nt.nodes:
#     node['x'] = pos[node['id']][0]
#     node['y'] = pos[node['id']][1]

# nt.show('09_communities_spring_transfer.html')

# Identify end-to-end fund flow of any given node

In [35]:
target_nodeG = 1599
target_groupsG = [dict(G.nodes(data=True))[target_nodeG]['group']]
target_nodesG = [node for node, group in group_dict_G.items() if group in target_groupsG]

G_sub = G.subgraph(target_nodesG)

nt = net.Network(width='100%', height='100%', directed=True, notebook=True)
nt.from_nx(G_sub)

pos = nx.spring_layout(G_sub, scale=1000, seed=721, k=0.01)
for node in nt.nodes:
    node['x'] = pos[node['id']][0]
    node['y'] = pos[node['id']][1]

[node for node in nt.nodes if node['id']==target_nodeG][0]['shape'] = 'image'
[node for node in nt.nodes if node['id']==target_nodeG][0]['image'] = 'https://openmoji.org/data/color/svg/1F608.svg'
[node for node in nt.nodes if node['id']==target_nodeG][0]['color'] = '#ff4f4f'

nt.show('10_show_group_with_given_node.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
10_show_group_with_given_node.html